.navbar-cont {
    height: 83px;
}

.navbar {
    max-width: 80%;
    margin: 0 10%;
    height: 80px;
    display: flex;
}

.logo {
    color: black;
    font-weight: normal;
    font-family: NunitoRegular;
    text-decoration: none;
}

.logo i {
    color: #30BE76;
    margin-right: 10px;
    font-size: 21px;
}
.icon-top {
    margin-right: 10%;
    line-height: inherit;
}
.nav-icons {
    font-size: 20px; 
    padding-right: 0; 
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.search {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 0 30px;
}

.search:focus {
    box-shadow: none;
}

.pointer{
    cursor: pointer;
    outline: none;
}

.pointer:hover {
    transform: scale(1.005);
    opacity: .7;
}

.tab-order1 {
    flex: 1;
}
.tab-order2 {
    flex: 2; 
    position: relative;
}
.tab-order3 {
    flex: 1;
}
