.navbar {
    max-width: 80%;
    margin: 0 10%;
    height: 80px;
    display: flex;
}

.logo {
    color: black;
    font-weight: normal;
    font-family: NunitoRegular;
    text-decoration: none;
}

.logo i {
    color: #30BE76;
    margin-right: 10px;
    font-size: 21px;
}
.icon-top {
    margin-left: 5%;
    line-height: inherit;
}
.nav-icons {
    font-size: 20px; 
    padding-right: 0; 
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.search {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 0 30px;
}

.search:focus {
    box-shadow: none;
}

.pointer{
    cursor: pointer;
    outline: none;
}

.pointer:hover {
    transform: scale(1.005);
    opacity: .7;
}

@media screen and (max-width: 800px) {
    .icon-top {
        margin-left: 10%;
    }
    .navbar {
        max-width: 100%;
        margin: 0;
    }
}