<div style="height: 83px;">
  <div style="box-shadow: 1px 1px 8px -6px #0D3320;">
    <div class="container-fluid navbar">
      <div  style="flex: 1;">
        <a [routerLink]="['/home']" class="logo pointer"
          ><i class="fas fa-concierge-bell"></i> Phissy</a
        >
      </div>
      <div style="flex: 2; position: relative;">
        <input class="form-control search" />
        <i
          class="fas fa-search pointer"
          style="position: absolute;top: 10px;color: #000000;"
        ></i>
      </div>
      <div class="nav-icons">
        <img
          [routerLink]="['/user-profile']"
          src="../../../assets/images/avatar.jpg"
          width="36"
          style="border-radius: 50%;"
          alt=""
          class="pointer"
        />
        <i
          class="far fa-envelope pointer icon-top"
        ></i>
        <i
          class="far fa-bell pointer icon-top"
        ></i>
      </div>
    </div>
  </div>
</div>
