<div class="navbar-cont">
  <div style="box-shadow: 1px 1px 8px -6px #0D3320;">
    <div class="container-fluid navbar">
      <div  class="tab-order1">
        <a [routerLink]="['/feeds']" class="logo pointer"
          ><i class="fas fa-concierge-bell"></i> Phissy</a
        >
      </div>
      <div class="tab-order2">
        <input class="form-control search" />
        <i
          class="fas fa-search pointer"
          style="position: absolute;top: 10px;color: #000000;"
        ></i>
      </div>
      <div class="tab-order3 nav-icons">
          <i
            class="far fa-bell pointer icon-top"
          ></i>
        <i
          class="far fa-envelope pointer icon-top"
        ></i>
        <img
          [routerLink]="['/my-profile']"
          src="../../../assets/images/avatar.jpg"
          width="36"
          style="border-radius: 50%;"
          alt=""
          class="pointer"
        />
      </div>
    </div>
  </div>
</div>
