<div class="main">
  <div class="container-fluid content-main">
    <div class="content-row">
      <div class="col1">
        <div class="profile">
          <div class="mobile-profile">
            <div class="details">
              <img
                [routerLink]="['/user-profile']"
                src="../../../assets/images/avatar.jpg"
                alt=""
                class="img-fluid pointer"
              />
              <div class="info">
                <p
                  [routerLink]="['/user-profile']"
                  class="pointer bold16"
                  style="margin-bottom: 0;"
                >
                  Nick Evans
                </p>
                <p class="status pointer regular14">Potato Master</p>
                <div style="display: flex;">
                  <p class="followers regular14 pointer">
                    548 followers &nbsp; &nbsp;
                  </p>
                  <p class="followers regular14 pointer">
                    &#8226; &nbsp; &nbsp; 23k likes
                  </p>
                </div>
              </div>
            </div>
            <div class="mobile-edit pointer">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </div>
          <hr />
          <div style="display: flex; justify-content: space-between;">
            <div class="numbers active pointer">
              <p style="margin-bottom: 0;" class="bold20">
                20
              </p>
              <p class="regular14" style="margin-bottom: 5px;">Recipes</p>
            </div>
            <div class="numbers pointer">
              <p style="margin-bottom: 0;" class="bold20">
                75
              </p>
              <p class="regular14" style="margin-bottom: 5px;">Saved</p>
            </div>
            <div class="numbers pointer" style="margin-right: 0;">
              <p style="margin-bottom: 0;" class="bold20">
                248
              </p>
              <p class="regular14" style="margin-bottom: 5px;">Following</p>
            </div>
          </div>
        </div>
        <div class="today-list">
          <p class="bold16">
            Top 5 Recipe Today
          </p>
          <p class="regular14 pointer">Lorem ipsum dolor sit amet</p>
          <p class="regular14 pointer">Consectetur adipiscing elit</p>
          <p class="regular14 pointer">Suspendisse sit amet blandit</p>
          <p class="regular14 pointer">Velit n lacinia eros nulla</p>
          <p class="regular14 pointer">Sed dictum turpis lacinia non</p>
        </div>
      </div>
      <div class="col2">
        <div class="top">
          <p class="regular14">234 of your followers are onlne</p>
          <button class="createRecipe">Create Recipe</button>
        </div>
        <div class="content">
          <div class="post">
            <div style="position: relative;">
              <img
                src="../../../assets/images/recipe1.jpg"
                class="img-fluid image pointer"
                alt=""
              />
              <div class="top-div">
                <img
                  src="../../../assets/images/avatar (1).jpg"
                  width="32"
                  class="round-img pointer"
                  alt=""
                />
                <div style="margin-left: 15px;">
                  <p
                    style="margin-bottom: 6px; line-height: 1;"
                    class="regular12 pointer"
                  >
                    Daniele Doe
                  </p>
                  <p
                    style="margin-bottom: 0; line-height: 1; color: #767676;"
                    class="regular12"
                  >
                    20m ago
                  </p>
                </div>
              </div>
            </div>
            <div style="padding: 25px;" class="regular14">
              <p class="semibold18 pointer" style="margin-bottom: 5px;">
                Sub Title
              </p>
              <p style="margin-bottom: 23px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse sit amet blandit velit. In lacinia eros nulla, sed
                dictum turpis lacinia non.
              </p>
              <div class="save-like-div">
                  <div class="like-comment-div">
                      <p class="like-comment">74 <i class="far fa-heart"></i></p>
                      &nbsp; &nbsp;
                      <p class="like-comment">
                        26
                        <i class="far fa-comment"></i>
                      </p>
                    </div>
                    <button
                      class="save-btn"
                      (click)="ngxSmartModalService.getModal('myModal1').open()"
                    >
                      + Save
                    </button>
              </div>
            </div>
            <ngx-smart-modal #myModal identifier="myModal1">
              <div>
                <p class="bold20">Save To</p>
                <p class="regular14 modal-p pointer">Categrory 1</p>
                <p class="regular14 modal-p pointer">Categrory 2</p>
                <p class="regular14 modal-p pointer">Categrory 3</p>
                <p class="bold16 modal-add pointer">+ Add New Categrory</p>
              </div>
            </ngx-smart-modal>
          </div>
          <div class="post">
            <div style="position: relative;">
              <img
                src="../../../assets/images/recipe2.jpg"
                class="img-fluid image pointer"
                alt=""
              />
              <div class="top-div">
                <img
                  src="../../../assets/images/avatar (5).jpg"
                  width="32"
                  class="round-img pointer"
                  alt=""
                />
                <div style="margin-left: 15px;">
                  <p
                    style="margin-bottom: 6px; line-height: 1;"
                    class="regular12 pointer"
                  >
                    James Doe
                  </p>
                  <p
                    style="margin-bottom: 0; line-height: 1; color: #767676;"
                    class="regular12"
                  >
                    1h38m ago
                  </p>
                </div>
              </div>
            </div>
            <div style="padding: 25px;" class="regular14">
              <p class="semibold18 pointer" style="margin-bottom: 5px;">
                Sub Title
              </p>
              <p style="margin-bottom: 23px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse sit amet blandit velit. In lacinia eros nulla, sed
                dictum turpis lacinia non.
              </p>
              <div class="save-like-div">
                  <div class="like-comment-div">
                      <p class="like-comment">20 <i class="far fa-heart"></i></p>
                      &nbsp; &nbsp;
                      <p class="like-comment">
                        9
                        <i class="far fa-comment"></i>
                      </p>
                    </div>
                    <button
                      class="save-btn"
                      (click)="ngxSmartModalService.getModal('myModal2').open()"
                    >
                      + Save
                    </button>
              </div>
            </div>
            <ngx-smart-modal #myModal identifier="myModal2">
              <div>
                <p class="bold20">Save To</p>
                <p class="regular14 modal-p pointer">Categrory 1</p>
                <p class="regular14 modal-p pointer">Categrory 2</p>
                <p class="regular14 modal-p pointer">Categrory 3</p>
                <p class="bold16 modal-add pointer">+ Add New Categrory</p>
              </div>
            </ngx-smart-modal>
          </div>
          <hr />
          <div class="people">
            <div class="people-top">
              <p class="bold16">
                People you might want to follow
              </p>
              <p class="bold16 pointer" style="color: #30BE76">
                See all suggestions
              </p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div class="people-card">
                  <div>
                    <img
                      src="../../../assets/images/people-header (3).jpg"
                      class="image"
                      alt=""
                    />
                    <div class="image-layer"></div>
                    <img
                      src="../../../assets/images/avatar (1).jpg"
                      class="round-img"
                      alt=""
                    />
                  </div>
                  <div style="margin: 35px 0 5px 0;">
                    <p class="regular16 no-margintopbottom">Jennifer Doe</p>
                  </div>
                  <div class="people-numbers">
                    <div>
                      <p class="regular14 no-margintopbottom">278</p>
                      <p class="regular10 no-margintopbottom">recipes</p>
                    </div>
                    <div>
                      <p class="regular14 no-margintopbottom">3k</p>
                      <p class="regular10 no-margintopbottom">followers</p>
                    </div>
                  </div>
                </div>
                <div class="people-card">
                  <div>
                    <img
                      src="../../../assets/images/people-header (2).jpg"
                      class="image"
                      alt=""
                    />
                    <div class="image-layer"></div>
                    <img
                      src="../../../assets/images/avatar (4).jpg"
                      class="round-img"
                      alt=""
                    />
                  </div>
                  <div style="margin: 35px 0 5px 0;">
                    <p class="regular16 no-margintopbottom">Lisa Doe</p>
                  </div>
                  <div class="people-numbers">
                    <div>
                      <p class="regular14 no-margintopbottom">28</p>
                      <p class="regular10 no-margintopbottom">recipes</p>
                    </div>
                    <div>
                      <p class="regular14 no-margintopbottom">246</p>
                      <p class="regular10 no-margintopbottom">followers</p>
                    </div>
                  </div>
                </div>
                <div class="people-card">
                  <div>
                    <img
                      src="../../../assets/images/people-header (4).jpg"
                      class="image"
                      alt=""
                    />
                    <div class="image-layer"></div>
                    <img
                      src="../../../assets/images/avatar (5).jpg"
                      class="round-img"
                      alt=""
                    />
                  </div>
                  <div style="margin: 35px 0 5px 0;">
                    <p class="regular16 no-margintopbottom">Anthony Doe</p>
                  </div>
                  <div class="people-numbers">
                    <div>
                      <p class="regular14 no-margintopbottom">318</p>
                      <p class="regular10 no-margintopbottom">recipes</p>
                    </div>
                    <div>
                      <p class="regular14 no-margintopbottom">8.3k</p>
                      <p class="regular10 no-margintopbottom">followers</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <hr />
          <div class="post">
            <div style="position: relative;">
              <img
                src="../../../assets/images/recipe3.jpg"
                class="img-fluid image pointer"
                alt=""
              />
              <div class="top-div">
                <img
                  src="../../../assets/images/avatar (2).jpg"
                  width="32"
                  class="round-img pointer"
                  alt=""
                />
                <div style="margin-left: 15px;">
                  <p
                    style="margin-bottom: 6px; line-height: 1;"
                    class="regular12 pointer"
                  >
                    Krystal Doe
                  </p>
                  <p
                    style="margin-bottom: 0; line-height: 1; color: #767676;"
                    class="regular12"
                  >
                    2h ago
                  </p>
                </div>
              </div>
            </div>
            <div style="padding: 25px;" class="regular14">
              <p class="semibold18 pointer" style="margin-bottom: 5px;">
                Sub Title
              </p>
              <p style="margin-bottom: 23px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse sit amet blandit velit. In lacinia eros nulla, sed
                dictum turpis lacinia non.
              </p>
              <div class="save-like-div">
                  <div class="like-comment-div">
                      <p class="like-comment">54 <i class="far fa-heart"></i></p>
                      &nbsp; &nbsp;
                      <p class="like-comment">
                        20
                        <i class="far fa-comment"></i>
                      </p>
                    </div>
                    <button
                      class="save-btn"
                      (click)="ngxSmartModalService.getModal('myModal3').open()"
                    >
                      + Save
                    </button>
              </div>
            </div>
            <ngx-smart-modal #myModal identifier="myModal3">
              <div>
                <p class="bold20">Save To</p>
                <p class="regular14 modal-p pointer">Categrory 1</p>
                <p class="regular14 modal-p pointer">Categrory 2</p>
                <p class="regular14 modal-p pointer">Categrory 3</p>
                <p class="bold16 modal-add pointer">+ Add New Categrory</p>
              </div>
            </ngx-smart-modal>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="live">
          <p class="no-margintopbottom regular14">Live cooking by Phissy</p>
          <div style="position: relative;">
              <video class="videoplayer pointer" controls>
                  <source src="../../../assets/images/video.mp4" type="video/mp4" />
                  Your browser does not support HTML5 video.
                </video>
                <label class="liveLabel"> live </label>
          </div>
         
        </div>
        <div class="most-active" style="padding: 25px;">
          <p class="no-margintopbottom regular14" style="margin-bottom: 15px;">
            Most active today
          </p>
          <img
            src="../../../assets/images/avatar.jpg"
            width="40"
            height="40"
            class="round-img pointer"
            alt=""
          />
          <img
            src="../../../assets/images/avatar (2).jpg"
            width="40"
            height="40"
            class="round-img pointer"
            style="margin-left: 1%;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar (3).jpg"
            width="40"
            height="40"
            class="round-img pointer"
            style="margin-left: 1%;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar (5).jpg"
            width="40"
            height="40"
            class="round-img pointer"
            style="margin-left: 1%;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar (4).jpg"
            width="40"
            height="40"
            class="round-img pointer"
            style="margin-left: 1%;"
            alt=""
          />
        </div>
        <div class="sidebar-footer" style="padding: 25px;">
          <div style="display: flex; justify-content: space-between" class="regular12">
            <p class="pointer">About Scratch</p>
            <p class="pointer">Help Center</p>
            <p class="pointer">Privacy Policy</p>
          </div>
          <p style="margin-top: 6px;" class="regular10">
            &#169; phissy by FMAmedia 2019
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
