<div class="main">
  <div class="container-fluid content-main">
    <div class="row">
    <div class="col1 col-md-3">
      <div class="profile"></div>
      <div class="today-list"></div>
    </div>
    <div class="col2 col-md-6">
      <div class="top"></div>
      <div class="content">
        <div class="post"></div>
        <div class="post"></div>
        <hr />
        <div class="people row">
          <div class="col-md-4" style="display: inline-block;">
            <div class="people-card"></div>
          </div>
          <div class="col-md-4" style="display: inline-block;">
              <div class="people-card"></div>
          </div>
          <div class="col-md-4" style="display: inline-block;">
              <div class="people-card"></div>
          </div>
        </div>
        <hr />
        <div class="post"></div>
      </div>
    </div>
    <div class="col3 col-md-3">
      <div class="live"></div>
      <div class="most-active"></div>
      <div class="sidebar-footer"></div>
    </div>
  </div>
</div></div>
