.main {
    background-color: #F7F8FA;
    height: 100%;
}
.content-main {
    max-width: 80%;
    margin: 0 10%;
}
.col1 {
    height: 100%;
    display: inline-block;
    margin-top: 38px;
    vertical-align: top;
}

.col2 {
    height: 100%;
    display: inline-block;
    margin-top: 38px;
    margin-bottom: 38px;
    vertical-align: top;
}

.col3 {
    height: 100%;
    margin-top: 38px;
    display: inline-block;
    vertical-align: top;
}

.col1 .profile {
    height: 215px;
    background-color: white;
    border-radius: 5px;
}

.col1 .today-list {
    height: 265px;
    background-color: white;
    border-radius: 5px;
    margin-top: 23px;
}

.col2 .top {
    height: 80px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px -4px #0D3320;
}

.col2 .content {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 23px;
    padding: 1px 25px 25px 25px;
}

.col3 .live {
    height: 249px;
    background-color: white;
    border-radius: 5px;
}

.col3 .most-active {
    height: 113px;
    background-color: white;
    border-radius: 5px;
    margin-top: 23px;
}

.col3 .sidebar-footer {
    height: 103px;
    background-color: white;
    border-radius: 5px;
    margin-top: 23px;
}

.col2 .content .post {
    height: 398px;
    /* width: 551px; */
    margin-top: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px -4px #0D3320;
}

.col2 .content .people {
    height: 273px;
    /* width: 551px; */
}

.col2 .content .people .people-card {
    /* width: 174px; */
    height: 231px;
    box-shadow: 1px 1px 8px -4px #0D3320;
    vertical-align: top;
}
