<div class="main">
  <div class="container-fluid content-main">
    <div class="row">
      <div class="col1 col-md-3">
        <div class="profile" style="padding: 25px">
          <div class="row" style="margin: 0">
            <img
              src="../../../assets/images/avatar.jpg"
              width="70"
              style="border-radius: 50%;"
              alt=""
            />
            <div style="display: inline; margin-left: 20px;">
              <p class="userName">Nick Evans</p>
              <p class="status">Potato Master</p>
              <p class="followers">
                548 followers &nbsp; &nbsp; &#8226; &nbsp; &nbsp; 23k likes
              </p>
            </div>
          </div>
          <hr />
          <div style="display: inline-flex;">
            <div style="margin-right: 73px; text-align: center;">
              <p
                style="font-family: NunitoBold; font-size: 20px; margin-bottom: 0;"
              >
                20
              </p>
              <p>Recipes</p>
            </div>
            <div style="margin-right: 73px; text-align: center;">
              <p
                style="font-family: NunitoBold; font-size: 20px; margin-bottom: 0;"
              >
                75
              </p>
              <p>Saved</p>
            </div>
            <div style="text-align: center;">
              <p
                style="font-family: NunitoBold; font-size: 20px; margin-bottom: 0;"
              >
                248
              </p>
              <p>Following</p>
            </div>
          </div>
        </div>
        <div
          class="today-list"
          style="padding: 25px; font-family: NunitoRegular; font-size: 14px;"
        >
          <p style="font-family: NunitoBold; font-size: 16px;">
            Top 5 Recipe Today
          </p>
          <p>Recipe Title 1</p>
          <p>Recipe Title 2</p>
          <p>Recipe Title 3</p>
          <p>Recipe Title 4</p>
          <p>Recipe Title 5</p>
        </div>
      </div>
      <div class="col2 col-md-6">
        <div class="top" style="padding: 25px;">
          <p style="float: left; line-height: 2;">234 of your followers are onlne</p>
          <button class="createRecipe">Create Recipe</button>
        </div>
        <div class="content">
          <div class="post">
            <div style="position: relative;">
              <img src="../../../assets/images/recipe1.jpg" style="width: 100%; object-fit: none; height: 238px;" alt="">
              <div style="background-color: #FFFFFF; position: absolute; height: 62px; width:100%; top: 0; opacity: .9; padding: 16px 25px; display: flex;">
                  <img
                  src="../../../assets/images/avatar.jpg"
                  width="32"
                  style="border-radius: 50%;"
                  alt=""
                />
                <div style="margin-left: 15px;">
                  <p style="margin-bottom: 6px; line-height: 1; font-family: NunitoRegular; font-size: 12px;">James Doe</p>
                  <p style="margin-bottom: 0; line-height: 1; font-family: NunitoRegular; font-size: 12px; color: #767676;">2h ago</p>
                </div>
              </div>
            </div>
            <div style="padding: 25px; font-family: NunitoRegular; font-size: 14px;">
              <p style="font-family: NunitoSemibold; font-size: 18px;">Title</p>
              <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
              <p style="margin-bottom: 0;">20 Likes &nbsp; &#8226; &nbsp; 9 Comments</p>
            </div>
          </div>
          <div class="post">
            <div style="position: relative;">
              <img src="../../../assets/images/recipe1.jpg" style="width: 100%; object-fit: none; height: 238px;" alt="">
              <div style="background-color: #FFFFFF; position: absolute; height: 62px; width:100%; top: 0; opacity: .9; padding: 16px 25px; display: flex;">
                  <img
                  src="../../../assets/images/avatar.jpg"
                  width="32"
                  style="border-radius: 50%;"
                  alt=""
                />
                <div style="margin-left: 15px;">
                  <p style="margin-bottom: 6px; line-height: 1; font-family: NunitoRegular; font-size: 12px;">James Doe</p>
                  <p style="margin-bottom: 0; line-height: 1; font-family: NunitoRegular; font-size: 12px; color: #767676;">2h ago</p>
                </div>
              </div>
            </div>
            <div style="padding: 25px; font-family: NunitoRegular; font-size: 14px;">
              <p style="font-family: NunitoSemibold; font-size: 18px;">Title</p>
              <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
              <p style="margin-bottom: 0;">20 Likes &nbsp; &#8226; &nbsp; 9 Comments</p>
            </div>
          </div>
          <hr />
          <div class="people row">
            <div class="col-md-4" style="display: inline-block;">
              <div class="people-card"></div>
            </div>
            <div class="col-md-4" style="display: inline-block;">
              <div class="people-card"></div>
            </div>
            <div class="col-md-4" style="display: inline-block;">
              <div class="people-card"></div>
            </div>
          </div>
          <hr />
          <div class="post">
              <div style="position: relative;">
                <img src="../../../assets/images/recipe1.jpg" style="width: 100%; object-fit: none; height: 238px;" alt="">
                <div style="background-color: #FFFFFF; position: absolute; height: 62px; width:100%; top: 0; opacity: .9; padding: 16px 25px; display: flex;">
                    <img
                    src="../../../assets/images/avatar.jpg"
                    width="32"
                    style="border-radius: 50%;"
                    alt=""
                  />
                  <div style="margin-left: 15px;">
                    <p style="margin-bottom: 6px; line-height: 1; font-family: NunitoRegular; font-size: 12px;">James Doe</p>
                    <p style="margin-bottom: 0; line-height: 1; font-family: NunitoRegular; font-size: 12px; color: #767676;">2h ago</p>
                  </div>
                </div>
              </div>
              <div style="padding: 25px; font-family: NunitoRegular; font-size: 14px;">
                <p style="font-family: NunitoSemibold; font-size: 18px;">Title</p>
                <p>Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </p>
                <p style="margin-bottom: 0;">20 Likes &nbsp; &#8226; &nbsp; 9 Comments</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col3 col-md-3">
        <div class="live" style="padding: 25px;">
          <p class="userName">Live cooking by Phissy</p>
          <video
            style="width: 100%; margin-top: 6px; border-radius: 15px;"
            controls
          >
            <source src="../../../assets/images/video.mp4" type="video/mp4" />
            Your browser does not support HTML5 video.
          </video>
          <label class="liveLabel"> live </label>
        </div>
        <div class="most-active" style="padding: 25px;">
          <p class="userName" style="margin-bottom: 15px;">Most active today</p>
          <img
            src="../../../assets/images/avatar.jpg"
            width="40"
            style="border-radius: 50%;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar.jpg"
            width="40"
            style="border-radius: 50%; margin-left: 25px;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar.jpg"
            width="40"
            style="border-radius: 50%; margin-left: 25px;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar.jpg"
            width="40"
            style="border-radius: 50%; margin-left: 25px;"
            alt=""
          />
          <img
            src="../../../assets/images/avatar.jpg"
            width="40"
            style="border-radius: 50%; margin-left: 25px;"
            alt=""
          />
        </div>
        <div class="sidebar-footer" style="padding: 25px;">
          <div
            style="display: flex; font-size: 12px; font-family: NunitoRegular;"
          >
            <p>About Scratch</p>
            <p style="margin-left: 41px;">Help Center</p>
            <p style="margin-left: 41px;">Privacy Policy</p>
          </div>
          <p
            style="font-family: NunitoRegular; font-size: 10px;margin-top: 6px;"
          >
            &#169; phissy by FMAmedia 2019
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
