<div class="main">
  <div>
    <img class="main-bck" src="../../../assets/images/user-profile-bck.jpeg" alt="">
  </div>
  <div class="gradient"></div>
  <div class="container-fluid content-main">
    <div class="content-row">
        <div class="col1">
            <div class="profile">
              <!-- <div class="row" style="margin: 0">
                <img
                  [routerLink]="['/user-profile']"
                  src="../../../assets/images/avatar.jpg"
                  alt=""
                  class="img-fluid pointer"
                />
                <div class="info">
                  <p [routerLink]="['/user-profile']" class="pointer bold16">
                    Nick Evans
                  </p>
                  <p class="status pointer regular14">Potato Master</p>
                  <div style="display: flex;">
                    <p class="followers regular14 pointer">
                      548 followers &nbsp; &nbsp;
                    </p>
                    <p class="followers regular14 pointer">
                      &#8226; &nbsp; &nbsp; 23k likes
                    </p>
                  </div>
                </div>
              </div> -->
              <!-- <hr /> -->
              <div style="display: inline-flex;">
                <!-- <div class="numbers pointer">
                  <p style="margin-bottom: 0;" class="bold20">
                    20
                  </p>
                  <p class="regular14">Recipes</p>
                </div>
                <div class="numbers pointer">
                  <p style="margin-bottom: 0;" class="bold20">
                    75
                  </p>
                  <p class="regular14">Saved</p>
                </div>
                <div class="numbers pointer" style="margin-right: 0;">
                  <p style="margin-bottom: 0;" class="bold20">
                    248
                  </p>
                  <p class="regular14">Following</p>
                </div> -->
              </div>
            </div>
            <div class="setup">
              <!-- <p class="regular16 pointer"><i class="fas fa-pencil-alt"></i> &nbsp; Edit Profile</p>
              <p class="regular16 pointer"><i class="fas fa-cog"></i> &nbsp; Settings</p>
              <p class="regular16 pointer"><i class="fas fa-sign-out-alt"></i> &nbsp; Log Out</p> -->
            </div>
          </div>
          <div class="col2">
            <div class="top">
              <!-- <div style="display: flex; justify-content: space-between;">
                <p class="bold32">My Recipes</p>
                <button class="createRecipe">+ Add New</button>
              </div> -->
            </div>
             <div class="content">
               
             </div>
          </div>
    </div>
  </div>
</div>