<div class="main">
  <img src="../../../assets/images/login-bck.jpeg" alt="" />
  <div class="gradient"></div>
  <p class="head-tablet">Welcome Back!</p>
  <div class="logo-div-tablet">
    <a [routerLink]="['/']" class="logo pointer"
      ><i class="fas fa-concierge-bell"></i> Phissy</a
    >
  </div>
  <div class="login-pane">
    <div class="logo-div">
      <a [routerLink]="['/']" class="logo pointer"
        ><i class="fas fa-concierge-bell"></i> Phissy</a
      >
    </div>
    <p class="head-mobile">Welcome Back!</p>
    <div class="form">
      <form class="w3-container">
        <p class="head">Welcome Back!</p>
        <p class="welcome-text">Please login to continue.</p>
        <p style="margin-top: 40px">
          <label>Email Address</label>
          <input class="w3-input" type="email" />
        </p>

        <p style="margin-top: 10px;">
          <label style="display: inline;"
            >Password
            <a
              href=""
              style="float: right; text-decoration: none; color: #606060"
              class="pointer"
              >Forget Password?</a
            ></label
          >
          <input class="w3-input" type="password"  autocomplete="off"/>
        </p>

        <a [routerLink]="['/feeds']">
          <button style="cursor: pointer;" class="loginBtn">Login</button></a
        >
        <p style="text-align: center; margin-bottom: 0; margin-top: 20px;">
          New to Scrath?
        </p>
        <a [routerLink]="['/signup']" style="text-decoration: none;"
          ><p style="text-align: center" class="signup pointer">
            Create Account Here
          </p>
        </a>
      </form>
    </div>
  </div>
</div>
