


<div class="main">
    <img src="../../../assets/images/login-bck.jpeg" alt="">
    <div class="gradient"></div>
    <div class="login-pane">
      <div class="logo-div">
          <a [routerLink]="['/']" class="logo"><i class="fas fa-concierge-bell"></i> Phissy</a> 
      </div>
      <div class="form">
          <form class="w3-container">
            <p class="head">Welcome Back!</p>
            <p style="color: #606060; margin-top: 0;">Please login to continue.</p>
            <p style="margin-top: 40px">
            <label>Email Address</label>
            <input class="w3-input" type="email"></p>
            <p>
            <label>Password <a href="" style="float: right; text-decoration: none; color: #606060">Forget Password?</a></label>
            <input class="w3-input" type="password"></p>
            <a [routerLink]="['/home']"> <button style="cursor: pointer;" class="loginBtn">Login</button></a>
            <p style="text-align: center; margin-bottom: 0; margin-top: 30px;">New to Scrath?</p>
            <a [routerLink]="['/signup']" style="text-decoration: none;"><p style="text-align: center" class="signup">Create Account Here</p> </a>
          </form>
      </div>
    </div>
</div>