


<div class="main">
    <img src="../../../assets/images/login-bck.jpeg" alt="">
    <div class="gradient"></div>
    <div class="login-pane">
      <div class="logo"></div>
      <div class="form">
          <form class="w3-container">
              <p>
              <label>First Name</label>
              <input class="w3-input" type="text"></p>
              <p>
              <label>Last Name</label>
              <input class="w3-input" type="text"></p>
              <p>
              <label>Email</label>
              <input class="w3-input" type="text"></p>
            </form>
      </div>
    </div>
</div>