.backgroud-image img{
    max-width: 1149px;
    float: right;
    transform: scaleX(-1);
    z-index: -1;
    position: relative;
    width: 100%;
    height: auto;
}

.gradient {
    background: linear-gradient(180deg, rgba(255,255,255,0.35057773109243695) 0%, rgba(255,255,255,0.865983893557423) 80%);
    height: 860px;
}

.heading {
    font-size: 47px;
    font-family: NunitoSemibold;
    width: 585px;
    position: absolute;
    top: 180px;
    left: 80px;
}

.intro {
    font-size: 16px;
    position: absolute;
    top: 355px;
    left: 80px;
    font-family: NunitoRegular;
}

.joinBtn {
    width: 260px;
    height: 50px;
    background-color: #30BE76;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: initial;
    position: absolute;
    left: 80px;
    top: 450px;
}

/* .joinBtn:hover {
    background-color: white;
    border: 1px #30BE76 solid;
    color: #30BE76;
} */

/* .joinBtn:hover ~ .learnBtn {
    background-color: #30BE76;
    border: none;
    color: white;
} */



.learnBtn {
    width: 260px;
    height: 50px;
    background-color: white;
    border: 1px #30BE76 solid;
    border-radius: 8px;
    color: #30BE76;
    font-size: initial;
    position: absolute;
    left: 395px;
    top: 450px;
}

/* .learnBtn:hover ~ .joinBtn {
    background-color: #FFFFFF;
    border: none;
    color: #30BE76;
} */
/* .learnBtn:hover {
    background-color: #30BE76;
    border: none;
    color: white;
} */

.logo {
    position: absolute;
    left: 85px;
    top: 65px;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    font-family: NunitoRegular;
}

.logo i {
    color: #30BE76;
    font-size: 25px;
    margin-right: 5px;
}

.pointer{
    cursor: pointer;
    outline: none;
}

.pointer:hover {
    transform: scale(1.005);
    opacity: .7;
}

@media screen and (max-width: 450px){
    .backgroud-image img {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .heading {
        visibility: hidden !important;
        height: 0;
    }
    .logo {
        font-size: 20px;
        left: 0;
        right: 0;
        top: 300px !important;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
    .intro {
        visibility: hidden !important;
        height: 0;
    }
    .joinBtn {
        visibility: hidden !important;
        height: 0;
    }
    .learnBtn {
        visibility: hidden !important;
        height: 0;
    }
    .gradient {
        height: -webkit-fill-available;
        width: 100%;
        background: linear-gradient(360deg, rgba(255,255,255,0.35057773109243695) 0%, rgba(255,255,255,2.865984) 30%) !important;
    }
}