<div class="main">
  <div class="content">
    <div class="backgroud-image">
      <img src="../../../assets/images/onboarding.jpeg" alt="" />
      <div class="gradient"></div>
      <div class="text">
        <p [routerLink]="['/login']" class="logo pointer"><i class="fas fa-concierge-bell"></i> Phissy</p>
        <p class="heading">
          Join over 50 millions people sharing recipes everyday
        </p>
        <p class="intro">
          Never run out of ideas again. Try new foods, ingredients, cooking
          style, and more
        </p>
        <div class="buttons">
          <a [routerLink]="['/login']">
            <button style="cursor: pointer;" class="joinBtn pointer">
              Join Phissy
            </button></a
          >
          <a [routerLink]="['/learn']">
            <button style="cursor: pointer;" class="learnBtn pointer">
              Learn More
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
