


<div class="main">
    <img src="../../../assets/images/login-bck.jpeg" alt="">
    <div class="gradient"></div>
    <div class="login-pane">
      <div class="logo-div">
          <a [routerLink]="['/']" class="logo"><i class="fas fa-concierge-bell"></i> Phissy</a> 
      </div>
      <div class="form">
          <form class="w3-container">
            <p class="head">Register Now!</p>
            <p style="margin-top: 45px">
            <label>Full Name</label>
            <input class="w3-input" type="text"></p>
            <p>
            <p>
            <label>Email Address</label>
            <input class="w3-input" type="email"></p>
            <p>
            <label>Password</label>
            <input class="w3-input" type="password"></p>
            <a [routerLink]="['/login']"> <button style="cursor: pointer;" class="loginBtn">Sign Up</button></a>
            <p style="text-align: center; margin-bottom: 0; margin-top: 20px;">Already have an account?</p>
            <a [routerLink]="['/login']" style="text-decoration: none;"><p style="text-align: center" class="signup">Login Here</p> </a>
          </form>
      </div>
    </div>
</div>