/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
/* @import "../node_modules/font-awesome/css/font-awesome.css"; */
@import "~ngx-smart-modal/ngx-smart-modal";

body {
    margin: 0!important;
}

@font-face {
    font-family: 'NunitoSemibold';
    src: url("assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: 'NunitoRegular';
    src: url("assets/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: 'NunitoBold';
    src: url("assets/fonts/Nunito-Bold.ttf");
}


.overlay.nsm-overlay-open {
    position: absolute!important;
    background-color: transparent!important;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.nsm-dialog[class*=nsm-dialog-animation-] {
    transition: none;
    transition: none;
    transition: none;
}

.nsm-content {
    width: 100%;
    margin: 70px 0;
    border-radius: 10px;
}

.nsm-dialog {
    max-width: 286px;
}

.nsm-body {
    padding: 10px;
}

.nsm-dialog-btn-close img {
    width: 10px;
}

.pointer{
    cursor: pointer;
    outline: none;
}

.pointer:hover {
    transform: scale(1.005);
    opacity: .7;
}


p {
    padding: 0;
    margin: 0;
}

/* Tablets */
@media screen and (max-width: 450px) {
    /* .icon-top {
        margin-left: 10%;
    } */

    .navbar-cont {
        height: 0!important;
        visibility: hidden;
    }
    
}

@media screen and (min-width: 451px) and (max-width: 1024px) {
    /* .icon-top {
        margin-left: 10%;
    } */
    .navbar {
        max-width: 100% !important;
        margin: 0 !important;
    }
    .search {
        border: none !important;
    }
    .tab-order1 {
        order: 2;
        text-align: center;
    }
    .tab-order2 {
        order: 1;
        flex: 1 !important;
    }
    .tab-order3 {
        order: 3;
    }
}
