/* You can add global styles to this file, and also import other style files */
body {
    margin: 0!important;
}

@font-face {
    font-family: 'NunitoSemibold';
    src: url("assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
    font-family: 'NunitoRegular';
    src: url("assets/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: 'NunitoBold';
    src: url("assets/fonts/Nunito-Bold.ttf");
}